@{
    ViewData["Title"] = "Os meus Ativos Financeiros";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-controller="AtivoFinanceiro" asp-action="Create" class="btn btn-primary">Adicionar Novo Ativo</a>
    <a asp-controller="AtivoFinanceiro" asp-action="Manage" class="btn btn-secondary">Gerir Ativos</a>
</div>

<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>Data Início</th>
        <th>Duração (meses)</th>
        <th>Imposto (%)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ativo in Model)
    {
        <tr>
            <td>@ativo.data_inicio</td>
            <td>@ativo.duracao_meses</td>
            <td>@ativo.percentual_imposto</td>
        </tr>
    }
    </tbody>
</table>