@{
    ViewData["Title"] = "Painel do Cliente";
}

<h2>Painel do Cliente</h2>

<div>
    <p>Bem-vindo ao painel do cliente!</p>
    <ul>
        <li>
            <a asp-controller="Account" asp-action="UpgradeToAdmin">Tornar-se Administrador</a>
        </li>
        <li>
            <a asp-controller="AtivoFinanceiro" asp-action="Index">Visualizar Ativos Financeiros</a>
        </li>
    </ul>
</div>