@{
    ViewData["Title"] = "Login";
}

<h2>Inicie sessão na sua conta</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div style="color: red; margin-bottom: 10px;">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div style="color: green; margin-bottom: 10px;">@TempData["SuccessMessage"]</div>
}

<form method="post" asp-controller="Account" asp-action="Login">
    <p>Não tem uma conta? <a asp-controller="Account" asp-action="Register">Registar</a></p>

    <div>
        <label>Username</label>
        <input type="text" name="username" required />
    </div>
    <div>
        <label>Palavra-passe</label>
        <input type="password" name="password" required />
    </div>

    <button type="submit">Entrar</button>
    <br/>
    <a asp-action="ForgotPassword" asp-controller="Account">Esqueceu-se da sua palavra-passe?</a>
</form>