@model ESW2.Models.ResetPasswordViewModel

<h2>Redefinir Senha</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <label>Nova Senha:</label>
    <input type="password" asp-for="NovaSenha" required />
    <br />
    <label>Confirmar Senha:</label>
    <input type="password" asp-for="ConfirmacaoSenha" required />
    <br />
    <button type="submit">Redefinir</button>
</form>